.product {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  &__image {
    border: 0.1rem solid #666;
    width: 5rem;
    margin: 0 auto;
    padding: 2.5rem;
  }
  &__name {
    font-size: 1.4rem;
  }
}