.product {
  display: flex;
  flex-direction: column;
  width: 20%;
  cursor: pointer;
  padding: 0 2rem;
  &__image {
    // border: 0.1rem solid #666;
  }
  &__name {
    font-size: 1.4rem;
  }
  @media screen and (min-width: 45rem) {
    width: 7%;
  }
}