.modal {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: rgba(0,0,0,.5);
  overflow-y: auto;
  outline: 0;
  &__body {
    z-index: 100;
    position: relative;
    max-width: 50rem;
    width: 100%;
  }
  &__close {
    font-size: 1.4rem;
    font-weight: 700;
    justify-self: flex-start;
    line-height: 1;
    background-color: #b22222;
    text-transform: uppercase;
    padding: 1rem;
    color: #000;
    cursor: pointer;
    border: none;
    border-radius: 1.3rem;
    margin: 0 2rem 0.5rem;
  }
  &__test {
    padding: 2rem;
    margin: 0 2rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: #444;
    border-radius: 1rem;
  }
  &__bold {
    font-weight: bold;
  }
  &__image {
    max-width: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid #666;
    background-color: #ccc;
    padding: 1rem 4rem;
    &--large {
      padding: 2rem 3rem;
    }
    &--placeholder {
      padding: 0;
    }
    &--unavailable {
      background-color: #666;
      font-size: 1.3rem;
      width: 100%;
      padding: 6rem 0.5rem;
      text-align: center;
      max-width: 14rem;
    }
  }
}